.StudentCard{
    background:#81BEF7;
    border:2px solid #000007;
    padding:0 0 25px 0;
    width: 480px;
    font-family:helvetica,sans-serif;
    font-size:14px;
    margin:10px auto;
    
    /* align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150%;
    border-radius: 15px;
    margin: 0 auto;
    float: left;
    margin-left:  auto;
    margin-right: auto;
    float: left;
  */
     
}
 .stdDash{
  padding-left: 20px;
 }
 .styledbutton1{
  display: inline-block;
  padding: .5rem 1rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--color_primary);
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-right: 30px;
  padding-left: 20px;
 }