/*Salmon Sushi color combination */
/* https://www.canva.com/colors/color-palettes/salmon-sushi/*/
:root {
  --color_primary: #74BDCB;
  --color_secondary: #FFA384;
  --color_1: #EFE7BC;
}

input[type=text] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color: #333;
}

input[type=submit] {
  padding: 5px 15px;
  background: var(--color_primary);
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: var(--color_secondary);
  color: white;
}

.div-margin {
  margin-left: 5;
}

.styledbutton {
  display: inline-block;
  padding: .5rem 1rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--color_primary);
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.4s;

}

.styledbutton:hover {
  background-color: var(--color_secondary);
  color: white;
}

.deletebutton {
  display: inline-block;
  padding: .5rem .75rem;
  border: none;
  border-radius: 4rem;
  background-color: red;
  color: white;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.4s;

}

.deletebutton:hover {
  background-color: whitesmoke;
  color: red;
}


.logo {
  color: white;
}



.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #4066FA;
  padding: 10px;
  margin-bottom: 16px;
}

.navbar-logo {
  color: 'white';
  font-size: 20px;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  gap: 30px;
  align-items: center;

}

.navbar-menu li a {
  color: white;
  text-decoration: none;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}